In [51]:
import pandas as pd

In [52]:
pd.read_excel (r"C:\Users\Estudiante\Documents\IronHack\Shark attacks\GSAF5.xls")
shark_attack_df = pd.read_excel (r"C:\Users\Estudiante\Documents\IronHack\Shark attacks\GSAF5.xls")
shark_attack_df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,02 Dec-2023,2023.0,Unprovoked,MEXICO,Jalisco,San Patricio Melaque,Swimming,Maria Fernandez Martinez Jimenez,F,26,...,NaN,"News Channel 21, 12/3.2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30 Nov-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,Clack Island,Swimming,male,M,21,...,1.8m bull shark,"ABC Net, 11/30/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 Nov-2023,2023.0,Unprovoked,BAHAMAS,Grand Bahama Island,Tiger Beach,Scuba diving,female,F,47,...,NaN,"Eye Witness News, 11/22/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10 Nov-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Port Noarlunga,Free diving,Bridgette Oâ€™Shannessy,F,32,...,NaN,S. DeMarchi. GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05 Nov-2023,2023.0,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Swimming,Steven Reinhardt,M,66,...,NaN,"ABC, 11/15/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
import cleaning_functions
from cleaning_functions import  *

Problem Statement:
The study aims to investigate and analyze the potential risk factors associated with shark attacks in coastal regions. The research focuses on three distinct hypotheses to better understand the circumstances surrounding shark-human interactions.

Hypothesis #1:
Individuals participating in surfing activities are more likely to experience shark attacks of a fatal nature compared to those engaged in other water-related activities, indicating a potential correlation between surfing and an increased probability of encountering sharks.

Hypothesis #2:
There is a greater probability of a shark attack occurring when the shark is provoked as opposed to unprovoked.

For Hypothesis #1 we need the columns: "killed" and "activity".

For Hypothesis #2 we need the column: "type".

In [54]:
shark_attack_df = whole_pipeline(shark_attack_df)
shark_attack_df

,date,year,type,country,state,location,activity,name,sex,age,injury,killed,time,species,source,pdf
0,02 Dec-2023,2023.0,Unprovoked,MEXICO,Jalisco,San Patricio Melaque,Swimming,Maria Fernandez Martinez Jimenez,F,26,FATAL,Y,Morning,NaN,"News Channel 21, 12/3.2023",NaN
1,30 Nov-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,Clack Island,Swimming,male,M,21,Puncture wounds to right upper arm,N,11h30,1.8m bull shark,"ABC Net, 11/30/2023",NaN
2,21 Nov-2023,2023.0,Unprovoked,BAHAMAS,Grand Bahama Island,Tiger Beach,Scuba diving,female,F,47,FATAL,Y,10h30,NaN,"Eye Witness News, 11/22/2023",NaN
3,10 Nov-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Port Noarlunga,Free diving,Bridgette Oâ€™Shannessy,F,32,Injuries to scalp and face,N,13h20,NaN,S. DeMarchi. GSAF,NaN
4,05 Nov-2023,2023.0,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Swimming,Steven Reinhardt,M,66,Lacerations to right forearm,N,10h30,NaN,"ABC, 11/15/2023",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6915,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf
6916,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf
6917,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf
6918,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf
6919,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf

In [55]:
shark_attack_df['activity'].value_counts(dropna=False)

activity
Surfing                                   1116
Swimming                                   969
NaN                                        585
Fishing                                    485
Spearfishing                               380
                                          ...
Swimming alongside yacht Mexico Fiesta       1
Fishing for red fish                         1
Fishing boat swamped in a storm              1
Free diving (but on surface)                 1
Wreck of  large double sailing canoe         1
Name: count, Length: 1586, dtype: int64

In [18]:
df = pd.DataFrame({'activity':['Swiming','swim','swimming with sharks','went on a boat and went swimming','Scuba Diving','snorkeling','abolone diving']})
activity_replace= {'swim':'swim',
                  'treading':'swim',
                  'diving':'diving',
                  'snorkeling':'diving',
                  'surfing': 'surfing',
                  'wading': 'wading',
                  'fishing':'fishing'
                  }
df['activity'].apply(replace_with_dict,my_replace_dict=activity_replace)

0      swim
1      swim
2      swim
3      swim
4    diving
5    diving
6    diving
Name: activity, dtype: object

In [19]:
shark_attack_df['activity'] = shark_attack_df['activity'].apply(replace_with_dict,my_replace_dict=activity_replace)

In [20]:
shark_attack_df['activity'].value_counts(dropna=False)

activity
swim                                                                 1279
surfing                                                              1270
fishing                                                              1215
diving                                                                746
NaN                                                                   585
                                                                     ...
Sunbathing on beach when he saw child being attacked by the shark       1
Arsinoe, a French tanker                                                1
Attempting to anesthetize shark                                         1
Walking on reef                                                         1
Wreck of  large double sailing canoe                                    1
Name: count, Length: 849, dtype: int64

In [50]:
shark_attack_df.loc[(shark_attack_df['killed'] == 'Y')]

,date,year,type,country,state,location,activity,name,sex,age,injury,killed,time,species,source,pdf
0,02 Dec-2023,2023.0,Unprovoked,MEXICO,Jalisco,San Patricio Melaque,swim,Maria Fernandez Martinez Jimenez,F,26,FATAL,Y,Morning,NaN,"News Channel 21, 12/3.2023",NaN
2,21 Nov-2023,2023.0,Unprovoked,BAHAMAS,Grand Bahama Island,Tiger Beach,diving,female,F,47,FATAL,Y,10h30,NaN,"Eye Witness News, 11/22/2023",NaN
8,31 Oct-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Streaky Bay,surfing,Todd Gendle,M,55,FATAL,Y,10h20,"White Shark, 4.5 m",S. DeMarchi. GSAF,NaN
17,01 Oct-2023,2023.0,Unprovoked,USA,California,"Wildcat Beach, Marin County",swim,Felix Louis N'Jai,M,52,Body not recovered,Y,10h40,NaN,"SF Chronicle, 10/10/2023",NaN
52,08-Jun 2023,2023.0,Unprovoked,EGYPT,Red Sea Protectorate,"Dream Beach, Hurguda",swim,Vladmir Popov,M,24,Fatal,Y,15h00,"Tiger shark, 13'","M. Michaelson, et al,GSA",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6915,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf
6916,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf
6917,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,swim,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf
6918,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf
6919,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",swim,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf

In [48]:
shark_attack_df.loc[(shark_attack_df['killed'] == 'Y')]['activity'].value_counts()

activity
swim                                                                             452
fishing                                                                          157
diving                                                                           150
surfing                                                                           74
Bathing                                                                           71
                                                                                ...
C47 aircraft carrying 5,000 lbs of ice ditched in the sea                          1
Bathing or washing                                                                 1
Leicester abandoned in a hurricane                                                 1
Air/Sea Disaster involving C-54 Air Force Transport No. 2686 with 37 on board      1
Wreck of  large double sailing canoe                                               1
Name: count, Length: 335, dtype: int64

In [59]:
shark_attack_df['activity'].value_counts()

activity
Surfing                                   1116
Swimming                                   969
Fishing                                    485
Spearfishing                               380
Wading                                     173
                                          ...
Swimming alongside yacht Mexico Fiesta       1
Fishing for red fish                         1
Fishing boat swamped in a storm              1
Free diving (but on surface)                 1
Wreck of  large double sailing canoe         1
Name: count, Length: 1585, dtype: int64